<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
{% load staticfiles %}
<body>
{% for happiness in happiness_list %}
    <li>{{ happiness.team_hpns }}</li>
{% endfor %}

<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Line</h3>
            <div class="actions pull-right">
                <i class="fa fa-expand"></i>
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="panel-body text-center">
            <div>
                <canvas id="line" height="476" width="1022" style="width: 818px; height: 381px;"></canvas>
            </div>
            <g transform="translate(40,280)">
                <g class="legend-item legend-item-data1" style="cursor: pointer; opacity: 1;">
                    <rect class="legend-item-event" x="148.3" y="4" width="80" height="24"
                          style="fill-opacity: 0;"></rect>
                    <rect class="legend-item-tile" x="148.3" y="11" width="10" height="10"
                          style="pointer-events: none; fill: rgb(45, 204, 112);"></rect>
                    <text x="162.3" y="20" style="pointer-events: none;">data1</text>
                </g>
            </g>
        </div>
    </div>
</div>

</body>
<script>
    $(document).ready(function () {
        //Line Charts
        var randomScalingFactor = function () {
            return Math.round(Math.random() * 100)
        };
        var lineChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: 'Network Usage',
                fillColor: 'rgba(26,188,156,0.5)',
                strokeColor: 'rgba(26,188,156,1)',
                pointColor: 'rgba(220,220,220,1)',
                pointStrokeColor: '#fff',
                pointHighlightFill: '#fff',
                pointHighlightStroke: 'rgba(220,220,220,1)',
                data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
            }, {
                label: 'CPU Load',
                fillColor: 'rgba(31,123,182,0.5)',
                strokeColor: 'rgba(31,123,182,1)',
                pointColor: 'rgba(151,187,205,1)',
                pointStrokeColor: '#fff',
                pointHighlightFill: '#fff',
                pointHighlightStroke: 'rgba(151,187,205,1)',
                data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
            }]

        };
        var ctx1 = document.getElementById("line").getContext("2d");
        window.myLine = new Chart(ctx1).Line(lineChartData, {
            responsive: true
        });
    });
</script>
</html>
