<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Howzitgoing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="{% static "/css/main.css" %}">
    <meta charset="UTF-8">
    <title>Howzitgoing</title>
    <style type="text/css">
        body{
        	top: 20%;
            left: 50%;
            text-align: center;
        }
        /*.divForm {
            position: absolute;
            width: 370px;
            height: 210px;

            text-align: center;
            top: 50%;
            left: 50%;
            margin-top: -200px;
            margin-left: -190px;
        }*/
        .radio input{
            display: none;
        }
        .radio span{
        	border: 2px solid white;
        }
    </style>
</head>
<body>
	<H3>Howzitgong</H3><br>
	<form style="align-content: center" id="happiness_form">
	    {% csrf_token %}
	    
	    <div class="divForm" id="form_select">
	        
	        <span>What is your current state of happiness about your work in this team?</span>
	        <div class="radio" ><!-- style="margin-bottom: 50px" -->
	            <!-- <input type="radio" name="personal" value="0">🤣 -->
	            <!-- <input type="radio" name="own" value="1">😁 -->
	           
            	<input type="radio" name="own" value="1">
            	<span name="ownemoji" id="own1" onclick="addborder1(this.id)">😁</span>
             	           
            	<input type="radio" name="own" value="2">
            	<span name="ownemoji" id="own2" onclick="addborder1(this.id)">😃</span>
            	           
            	<input type="radio" name="own" value="3" checked>
            	<span name="ownemoji" id="own3" onclick="addborder1(this.id)" style="border-color: blue">😐</span>
            	           
            	<input type="radio" name="own" value="4">
            	<span name="ownemoji" id="own4" onclick="addborder1(this.id)">😔</span>            
           
            	<input type="radio" name="own" value="5">
            	<span name="ownemoji" id="own5" onclick="addborder1(this.id)">😞</span>
	            
<!-- 	            <input type="radio" name="own" value="2" id="own2" onclick="addborder1(this.id)">😃
	            <input type="radio" name="own" value="3" id="own3" onclick="addborder1(this.id)"checked >😐
	            <input type="radio" name="own" value="4" id="own4" onclick="addborder1(this.id)">😔
	            <input type="radio" name="own" value="5" id="own5" onclick="addborder1(this.id)">😞 -->
	            <!-- <input type="radio" name="own" value="7">😭 -->
	            <!-- <input type="radio" name="personal" value="8">👿 -->
	        </div>

	        <span>How happy do you think about your team?</span>
	        <div class="radio" ><!-- style="margin-bottom: 30px" -->
	            <!-- <input type="radio" name="team" value="0">🤣 -->
	            <!-- <input type="radio" name="team" value="1">😁 -->
	            
            	<input type="radio" name="team" value="1">
            	<span name="teamemoji" id="team1" onclick="addborder2(this.id)">😁</span>
            
            	<input type="radio" name="team" value="2">
            	<span name="teamemoji" id="team2" onclick="addborder2(this.id)">😃</span>
            
            	<input type="radio" name="team" value="3" checked>
            	<span name="teamemoji" id="team3" onclick="addborder2(this.id)" style="border-color: blue">😐</span>
            
            	<input type="radio" name="team" value="4">
            	<span name="teamemoji" id="team4" onclick="addborder2(this.id)">😔</span>
            
            	<input type="radio" name="team" value="5">
            	<span name="teamemoji" id="team5" onclick="addborder2(this.id)">😞</span>
	            
<!-- 	            <input type="radio" name="team" value="1" id="team1" onclick="addborder2(this.id)">😁
	            <input type="radio" name="team" value="2" id="team2" onclick="addborder2(this.id)">😃
	            <input type="radio" name="team" value="3" id="team3" onclick="addborder2(this.id)"checked >😐
	            <input type="radio" name="team" value="4" id="team4" onclick="addborder2(this.id)">😔
	            <input type="radio" name="team" value="5" id="team5" onclick="addborder2(this.id)">😞 -->
	            <!-- <input type="radio" name="team" value="7">😭 -->
	            <!-- <input type="radio" name="team" value="8">👿 -->
	        </div>

	        <input type="text" hidden="hidden" value="{{ user_id }}" id="user_id">

	    </div>

		<div class="divForm" id="confirmbutton">
	        <input type="button" value="confirm" id="result">
	    </div>

	    <div class="divForm" id="form_response" style="display: none">
	        <span>Thanks! Your information has been saved.</span>
	    </div>

	</form>
	<link rel="import" href="{% static "/global_js/global.html" %}">
</body>

<script>
    //Apply to facebook for an permission about using Messenger
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    $(document).ready(function () {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
    });

    //Click the submit buttton to get the value of two radio(options)
    $("#result").click(function () {
        var own = $("input[name='own']:checked").val();
        var team = $("input[name='team']:checked").val();
        var user_id = $("#user_id").val();
        var data = {
            "own": own,
            "team": team,
            "user_id": user_id,
            "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
        }
        $.ajax({
            type: "POST",
            data: data,
            url: "/submit_emoji/", //The url for processing data at back end
            		//here use the static url, which should be same as the name in urls.py, or use http address
            cache: false,
            headers: {"X-CSRFToken": $("[name='csrfmiddlewaretoken']").val()},
            dataType: "json",
            success: function (ret) {
                // document.getElementById("form_select").style.display = "none";
				document.getElementById("confirmbutton").style.disabled="true";	//block the button after submit
                document.getElementById("form_response").style.display = "";	//show the comment after submit
            },
            error: function (e) {
                alert(e.toString());
            }
        });
    })


    window.extAsyncInit = function () {
        // the Messenger Extensions JS SDK is done loading

    };
    

    // highlight the emoji by adding border
	function addborder1(sId){
		var own_radio = document.getElementsByName('ownemoji');
		for (var i = 0; i < own_radio.length; i++) {
			if (own_radio[i].id == sId) {
				own_radio[i].previousSibling.checked = true;
				own_radio[i].style.border = '2px solid blue';
			} 
			else {
				own_radio[i].style.border = '2px solid white';
			}
		}
	}
	function addborder2(sId){
		var team_radio = document.getElementsByName('teamemoji');
		for (var j = 0; j < team_radio.length; j++) {
			if (team_radio[j].id == sId) {
				team_radio[j].checked = true;
				team_radio[j].style.border = '2px solid blue';
			} 
			else {
				team_radio[j].style.border = '2px solid white';
			}
		}
	}

</script>
</html>