<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MYMOOD</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="{% static "/css/main.css" %}">
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .divForm {
            position: absolute;
            width: 370px;
            height: 210px;

            text-align: center;
            top: 50%;
            left: 50%;
            margin-top: -200px;
            margin-left: -190px;
        }
        #own, #team{
            display: none;
        }
    </style>
</head>
<body>
<form style="align-content: center" id="happiness_form">
    {% csrf_token %}
    <div class="divForm" id="form_response" style="display: none">
        <span>Got it! Thanks!</span>
    </div>
    <div class="divForm" id="form_select">
        <H3>Tell me about your happiness </H3><br>
        <span>your own work</span>
        <div style="margin-bottom: 50px">
            {#            <input type="radio" name="personal" value="0">🤣#}
            <!-- <input type="radio" name="own" value="1">😁 -->
            <input type="radio" name="own" value="2" onclick="addborder1(this.id)">😃
            <input type="radio" name="own" value="3" onclick="addborder1(this.id)">🙂
            <input type="radio" name="own" value="4" checked onclick="addborder1(this.id)">😐
            <input type="radio" name="own" value="5" onclick="addborder1(this.id)">😔
            <input type="radio" name="own" value="6" onclick="addborder1(this.id)">😞
            <!-- <input type="radio" name="own" value="7">😭 -->
            {#            <input type="radio" name="personal" value="8">👿#}
        </div>
        <span>your team work</span>
        <div style="margin-bottom: 30px">
            {#            <input type="radio" name="team" value="0">🤣#}
            <!-- <input type="radio" name="team" value="1">😁 -->
            <input type="radio" name="team" value="2" onclick="addborder2(this.id)">😃
            <input type="radio" name="team" value="3" onclick="addborder2(this.id)">🙂
            <input type="radio" name="team" value="4" checked onclick="addborder2(this.id)">😐
            <input type="radio" name="team" value="5" onclick="addborder2(this.id)">😔
            <input type="radio" name="team" value="6" onclick="addborder2(this.id)">😞
            <!-- <input type="radio" name="team" value="7">😭 -->
            {#            <input type="radio" name="team" value="8">👿#}
        </div>
        <input type="text" hidden="hidden" value="{{ user_id }}" id="user_id">
        <div id="confirmbutton">

            <input type="button" value="confirm" id="result">
        </div>
    </div>
</form>
<link rel="import" href="{% static "/global_js/global.html" %}">
</body>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));


    $("#result").click(function () {
        var own = $("input[name='own']:checked").val();
        var team = $("input[name='team']:checked").val();
        var user_id = $("#user_id").val();
        var data = {
            "own": own,
            "team": team,
            "user_id": user_id,
            "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
        }
        $.ajax({
            type: "POST",
            data: data,
            url: "/submit_emoji/", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致,或者直接写http地址
            cache: false,
            headers: {"X-CSRFToken": $("[name='csrfmiddlewaretoken']").val()},
            dataType: "json",
            success: function (ret) {
                document.getElementById("form_select").style.display = "none";
                document.getElementById("form_response").style.display = "";
            },
            error: function (e) {
                alert(e.toString());
            }
        });
    })

    $(document).ready(function () {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
    });


    window.extAsyncInit = function () {
        // the Messenger Extensions JS SDK is done loading

    };
    
        // highlight the emoji by adding border
		function addborder1(sId){
			var own_radio = document.getElementsByName('own');
			for (var i = 0; i < own_radio.length; i++) {
				if (own_radio[i].id == sId) {
					own_radio[i].previousSibling.previousSibling.checked = true;
					own_radio[i].style.border = '1px solid blue';
				} 
				else {
					own_radio[i].style.border = '1px solid white';
				}
			}
		}
		function addborder2(sId){
			var team_radio = document.getElementsByName('team');
			for (var j = 0; j < team_radio.length; j++) {
				if (team_radio[j].id == sId) {
					team_radio[j].previousSibling.previousSibling.checked = true;
					team_radio[j].style.border = '1px solid blue';
				} 
				else {
					team_radio[j].style.border = '1px solid white';
				}
			}
		}
</script>
</html>
